In [1]:
import pandas as pd

In [22]:
data = pd.read_csv(r"C:\Users\kimmy\Desktop\positive_features.csv",index_col=0)

c:\users\kimmy\appdata\local\programs\python\python37\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [23]:
data.head()

,Node_1,Node_2,Node_1_friends_number,Node_2_friends_number,number_of_common_friends,sum_of_friends,J_similarity,Preferential_Attachment,class
0,540762,1912140,143,20,1,162,0.006173,2860,1
1,540762,1537559,143,79,16,206,0.077670,11297,1
2,540762,3091331,143,26,4,165,0.024242,3718,1
3,540762,2757277,143,222,25,340,0.073529,31746,1
4,540762,3237295,143,119,5,257,0.019455,17017,1

In [24]:
print(data)

           Node_1   Node_2  Node_1_friends_number  Node_2_friends_number  \
0          540762  1912140                    143                     20
1          540762  1537559                    143                     79
2          540762  3091331                    143                     26
3          540762  2757277                    143                    222
4          540762  3237295                    143                    119
...           ...      ...                    ...                    ...
24004356  3547024  1075576                     63                    453
24004357  3547024  4549841                     63                      0
24004358  3547024  1135647                     63                      0
24004359  3547024   807274                     63                      0
24004360  3547024  3897045                     63                    157

          number_of_common_friends  sum_of_friends  J_similarity  \
0                                1             162      0.006173
1                               16             206      0.077670
2                                4             165      0.024242
3                               25             340      0.073529
4                                5             257      0.019455
...                            ...             ...           ...
24004356                        12             504      0.023810
24004357                         0              63      0.000000
24004358                         0              63      0.000000
24004359                         0              63      0.000000
24004360                         1             219      0.004566

          Preferential_Attachment  class
0                            2860      1
1                           11297      1
2                            3718      1
3                           31746      1
4                           17017      1
...                           ...    ...
24004356                    28539      1
24004357                        0      1
24004358                        0      1
24004359                        0      1
24004360                     9891      1

[24004361 rows x 9 columns]

In [25]:
pos = data.sample(5000)

In [26]:
print(pos)

           Node_1   Node_2  Node_1_friends_number  Node_2_friends_number  \
20196523  4371792    99241                    852                      0
18722956  2838024  4645103                    160                      0
16931859  1243612  2075015                   2553                  85785
13993316   427805  1522363                 160559                      0
22310370  2514271  3116355                  19070                      0
...           ...      ...                    ...                    ...
17450198  4451491  4526136                   8836                      0
5892457   3676295  3525521                  70884                      0
11396522  4004339   102410                   6086                      0
5577783   3638272   196209                 383713                      0
13410930  3683235  1853161                  23110                      0

          number_of_common_friends  sum_of_friends  J_similarity  \
20196523                         0             852      0.000000
18722956                         0             160      0.000000
16931859                      1317           87021      0.015134
13993316                         0          160559      0.000000
22310370                         0           19070      0.000000
...                            ...             ...           ...
17450198                         0            8836      0.000000
5892457                          0           70884      0.000000
11396522                         0            6086      0.000000
5577783                          0          383713      0.000000
13410930                         0           23110      0.000000

          Preferential_Attachment  class
20196523                        0      1
18722956                        0      1
16931859                219009105      1
13993316                        0      1
22310370                        0      1
...                           ...    ...
17450198                        0      1
5892457                         0      1
11396522                        0      1
5577783                         0      1
13410930                        0      1

[5000 rows x 9 columns]

In [27]:
neg_data = pd.read_csv(r"C:\Users\kimmy\Desktop\negative_features.csv",index_col=0)

In [28]:
neg_data.head()

,Node_1,Node_2,Node_1_friends_number,Node_2_friends_number,number_of_common_friends,sum_of_friends,J_similarity,Preferential_Attachment,class
0,339607,2171951,0,0,0,0,0,0,0
1,4288883,4076256,0,0,0,0,0,0,0
2,3396833,2544371,0,0,0,0,0,0,0
3,3997985,3003535,0,0,0,0,0,0,0
4,1832430,4233620,0,0,0,0,0,0,0

In [29]:
print(neg_data)

         Node_1   Node_2  Node_1_friends_number  Node_2_friends_number  \
0        339607  2171951                      0                      0
1       4288883  4076256                      0                      0
2       3396833  2544371                      0                      0
3       3997985  3003535                      0                      0
4       1832430  4233620                      0                      0
...         ...      ...                    ...                    ...
112170  4278560  3490599                      0                      0
112171   238920  1784678                      0                      0
112172  4541074  2765794                      0                      0
112173   705763  3068025                      0                      0
112174  4458701  2054908                      0                      0

        number_of_common_friends  sum_of_friends  J_similarity  \
0                              0               0             0
1                              0               0             0
2                              0               0             0
3                              0               0             0
4                              0               0             0
...                          ...             ...           ...
112170                         0               0             0
112171                         0               0             0
112172                         0               0             0
112173                         0               0             0
112174                         0               0             0

        Preferential_Attachment  class
0                             0      0
1                             0      0
2                             0      0
3                             0      0
4                             0      0
...                         ...    ...
112170                        0      0
112171                        0      0
112172                        0      0
112173                        0      0
112174                        0      0

[112175 rows x 9 columns]

In [30]:
neg = neg_data.sample(5000)

In [31]:
print(neg)

         Node_1   Node_2  Node_1_friends_number  Node_2_friends_number  \
26577   1820957  4249432                      0                      0
39041   4176201  2720343                      0                      0
108075    70927  3274042                      0                      0
109373  1719043  1890067                      0                      0
39373   4717252   551977                      0                      0
...         ...      ...                    ...                    ...
105961   176164  2300363                      0                      0
95692   4781867  4107140                      0                      0
50685   2491214  1592777                      0                      0
8200    2060252   867036                      0                      0
110119  4847086  4749743                      0                      0

        number_of_common_friends  sum_of_friends  J_similarity  \
26577                          0               0             0
39041                          0               0             0
108075                         0               0             0
109373                         0               0             0
39373                          0               0             0
...                          ...             ...           ...
105961                         0               0             0
95692                          0               0             0
50685                          0               0             0
8200                           0               0             0
110119                         0               0             0

        Preferential_Attachment  class
26577                         0      0
39041                         0      0
108075                        0      0
109373                        0      0
39373                         0      0
...                         ...    ...
105961                        0      0
95692                         0      0
50685                         0      0
8200                          0      0
110119                        0      0

[5000 rows x 9 columns]

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
df_all_rows = pd.concat([pos, neg])
df_all_rows

,Node_1,Node_2,Node_1_friends_number,Node_2_friends_number,number_of_common_friends,sum_of_friends,J_similarity,Preferential_Attachment,class
20196523,4371792,99241,852,0,0,852,0.000000,0,1
18722956,2838024,4645103,160,0,0,160,0.000000,0,1
16931859,1243612,2075015,2553,85785,1317,87021,0.015134,219009105,1
13993316,427805,1522363,160559,0,0,160559,0.000000,0,1
22310370,2514271,3116355,19070,0,0,19070,0.000000,0,1
...,...,...,...,...,...,...,...,...,...
105961,176164,2300363,0,0,0,0,0.000000,0,0
95692,4781867,4107140,0,0,0,0,0.000000,0,0
50685,2491214,1592777,0,0,0,0,0.000000,0,0
8200,2060252,867036,0,0,0,0,0.000000,0,0
110119,4847086,4749743,0,0,0,0,0.000000,0,0

In [34]:
df_all_rows=df_all_rows.reset_index(drop=True)

In [35]:
df_all_rows

,Node_1,Node_2,Node_1_friends_number,Node_2_friends_number,number_of_common_friends,sum_of_friends,J_similarity,Preferential_Attachment,class
0,4371792,99241,852,0,0,852,0.000000,0,1
1,2838024,4645103,160,0,0,160,0.000000,0,1
2,1243612,2075015,2553,85785,1317,87021,0.015134,219009105,1
3,427805,1522363,160559,0,0,160559,0.000000,0,1
4,2514271,3116355,19070,0,0,19070,0.000000,0,1
...,...,...,...,...,...,...,...,...,...
9995,176164,2300363,0,0,0,0,0.000000,0,0
9996,4781867,4107140,0,0,0,0,0.000000,0,0
9997,2491214,1592777,0,0,0,0,0.000000,0,0
9998,2060252,867036,0,0,0,0,0.000000,0,0
9999,4847086,4749743,0,0,0,0,0.000000,0,0

In [36]:
import numpy as np

In [37]:
df_shuffled=df_all_rows.iloc[np.random.permutation(df_all_rows.index)].reset_index(drop=True)

In [39]:
df_shuffled

,Node_1,Node_2,Node_1_friends_number,Node_2_friends_number,number_of_common_friends,sum_of_friends,J_similarity,Preferential_Attachment,class
0,1719613,3823306,0,0,0,0,0.000000,0,0
1,4311319,2257804,0,0,0,0,0.000000,0,0
2,4841198,4148422,0,0,0,0,0.000000,0,0
3,2482338,3690636,24222,0,0,24222,0.000000,0,1
4,1580988,3056944,414420,0,0,414420,0.000000,0,1
...,...,...,...,...,...,...,...,...,...
9995,189368,2657370,155,98,2,251,0.007968,15190,1
9996,542190,2021955,0,0,0,0,0.000000,0,0
9997,2147720,1727937,78791,0,0,78791,0.000000,0,1
9998,2209136,3602396,33791,0,0,33791,0.000000,0,1
9999,4782707,1979685,31666,0,0,31666,0.000000,0,1

In [40]:
df_shuffled=df_shuffled.iloc[np.random.permutation(df_shuffled.index)].reset_index(drop=True)

In [41]:
train_df, valid_df = train_test_split(df_shuffled, test_size=0.3, random_state=7)

In [42]:
X_train = train_df.drop("class", axis=1)
Y_train = train_df["class"]
X_valid = valid_df.drop("class", axis=1)
Y_valid = valid_df["class"]
X_valid

,Node_1,Node_2,Node_1_friends_number,Node_2_friends_number,number_of_common_friends,sum_of_friends,J_similarity,Preferential_Attachment
1977,3215744,1164452,0,0,0,0,0.0,0
3880,4372648,2755203,3150,0,0,3150,0.0,0
52,3638272,3331170,383713,0,0,383713,0.0,0
2551,3764177,921972,64567,0,0,64567,0.0,0
2246,3280389,2979197,422106,0,0,422106,0.0,0
...,...,...,...,...,...,...,...,...
7477,1383450,2932080,0,0,0,0,0.0,0
6059,3844858,1907050,28974,0,0,28974,0.0,0
133,4268085,255938,0,0,0,0,0.0,0
9907,4358464,4335646,0,0,0,0,0.0,0
3582,2159244,2483466,1434,0,0,1434,0.0,0

In [44]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
sc = StandardScaler()

features = ["Node_1_friends_number","Node_2_friends_number","number_of_common_friends","sum_of_friends"]

X_train = sc.fit_transform(train_df[features]) 

X_valid = sc.fit_transform(valid_df[features])

In [45]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0,probability = True)
classifier.fit(X_train, Y_train)
Y_pred = classifier.predict_proba(X_valid)

from sklearn.metrics import roc_auc_score as score
classifier.score(X_train, Y_train)
classifier = round(classifier.score(X_train, Y_train) * 100, 2)
classifier

84.69

In [46]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, Y_train)
Y_pred = classifier.predict_proba(X_valid)

from sklearn.metrics import roc_auc_score as score
classifier.score(X_train, Y_train)
classifier = round(classifier.score(X_train, Y_train) * 100, 2)
classifier

85.09

In [48]:
features_1 = ["J_similarity","Preferential_Attachment"]
X_train_1 = sc.fit_transform(train_df[features_1]) 

X_valid_1 = sc.fit_transform(valid_df[features_1])

In [54]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(train_df[features], Y_train)
Y_pred_nb = clf.predict(valid_df[features])

In [55]:
from sklearn.metrics import classification_report
y_true = Y_valid
y_pred = Y_pred_nb
target_names = ['0','1']
print(classification_report(y_true, y_pred, target_names=target_names))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00      1512
           1       0.49      0.96      0.64      1488

    accuracy                           0.47      3000
   macro avg       0.24      0.48      0.32      3000
weighted avg       0.24      0.47      0.32      3000